@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  color: #1f2937;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}

.paper-lines {
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 34px,
    #eee7f8 35px
  );
  line-height: 35px;
  background-attachment: local;
}

.paper-lines-review {
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 34px,
    #f3e3a3 35px
  );
  line-height: 35px;
  background-attachment: local;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #d8b4fe;
  border-radius: 8px;
}
